*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root{
  height: 100%;
  width: 100%;
}
.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.create-post-section form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}
.create-post-section input, .create-post-section textarea{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.create-post-section button{
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.feed-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.feed-section .post{
  width: 300px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}

.post img{
  max-width: 100%;
  height: auto;
  margin-top: 8px;
}